In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("data/Used_Bikes.csv")

In [5]:
data.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [6]:
data.drop_duplicates(inplace=True)

In [7]:
from sklearn.preprocessing import LabelEncoder
lable = LabelEncoder()

In [8]:
# changing the categorical value into numerical
cate_to_num=["owner","brand"]
for i in cate_to_num:
    data[i] = lable.fit_transform(data[i])

In [9]:
data

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,0,3.0,110.0,19
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,0,4.0,350.0,17
2,Triumph Daytona 675R,600000.0,Delhi,110.0,0,8.0,675.0,20
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,0,4.0,180.0,19
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,0,3.0,150.0,21
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,0,8.0,150.0,5
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,0,9.0,220.0,1
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,0,4.0,750.0,4
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,0,4.0,400.0,1
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,0,5.0,220.0,1

In [10]:
data.shape

(7324, 8)

In [11]:
x = data.drop("price",axis=1)
y = data["price"]

In [14]:
# after using label encoder recyling the categorical and numerical columns

categorical_columns_x = x.select_dtypes(include="object").columns
numerical_columns_x = x.select_dtypes(exclude="object").columns

In [15]:

print("categorical_columns_x",categorical_columns_x)
print("numerical_columns_x",numerical_columns_x)

categorical_columns_x Index(['bike_name', 'city'], dtype='object')
numerical_columns_x Index(['kms_driven', 'owner', 'age', 'power', 'brand'], dtype='object')

In [16]:

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer